<tr>
  <td><%= runner.name %></td>
  <td>
    <div class="left"> <%= runner.short %>    </div>
    <div class="right"><%= form_tag(runner, method: "patch") do %>
      <%= hidden_field_tag("runner[short]", "#{(runner.short+1)}") %>
      <%= submit_tag("+") %>
    <% end %>
    </div>
  </td>
  <td>
    <div class="left-align"> <%= runner.long %></div>
    <div class="center-align"><%= form_tag(runner, method: "patch") do %>
        <%= hidden_field_tag("runner[long]", "#{(runner.long+1)}") %>
        <%= submit_tag("+") %>
    <% end %>
    </div>
  </td>
</tr>