<h5> Runner's partial </h5>
<tr>
  <td><%= runner.name %></td>
  <td><%= runner.short %></td>
  <td><%= runner.long %></td>
</tr>
<tr>
  <td></td>
  <td>
    <%= form_tag(runner, method: "patch") do %>
        <%= hidden_field_tag("runner[short]", "#{(runner.short+1)}") %>
        <%= submit_tag("Increment Short Run Count") %>
    <% end %>
  </td>
  <td>
    <%= form_tag(runner, method: "patch") do %>
        <%= hidden_field_tag("runner[long]", "#{(runner.long+1)}") %>
        <%= submit_tag("Increment Long Run Count") %>
    <% end %>
  </td>
</tr>